TRIP_DB_CONNECTION="Server=localhost;Port=3306;Database=___;User=___;Password=____;"
PAYMENT_DB_CONNECTION="Server=localhost;Port=3306;Database=___;User=___;Password=____;"
MATCHING_DB_CONNECTION="Server=localhost;Port=3306;Database=___;User=___;Password=____;"
OPENROUTESERVICE_API_KEY="eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6IjNkODVlYzk0OGFlMDQ5ZWNiNjI1MmFlNjExY2Q0MGNlIiwiaCI6Im11cm11cjY0In0="