TRIP_DB_CONNECTION="Server=host.docker.internal;Port=3306;Database=swiftride_trip;User=;Password=;"
PAYMENT_DB_CONNECTION="Server=host.docker.internal;Port=3306;Database=swiftride_payment;User=;Password=;"
MATCHING_DB_CONNECTION="Server=host.docker.internal;Port=3306;Database=swiftride_match;User=;Password=;"
OPENROUTESERVICE_API_KEY=""